
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100&display=swap');
*{
  margin:0;
  padding:0;
}
.App{
background-color: #FAFAFA;
height: 100vh;
}
.app_header{
  position: sticky;
  top:0;
  z-index: 1;
  background-color: #FFFFFF;
  padding:20px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}
.app_header_img{
   object-fit: contain; 
}
.app_signup{
  display: flex;
  flex-direction:column;
  font-size:20px;
}
.warning{
  display: flex;
  justify-content: center;
  text-align: center;
  color:lightgray;
}

.app_post{
  padding:20px;
  display: flex;
  justify-content: center;
}
.app_post_right{
  margin-left:15px;
}